<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<section class="feedback-section container" id="feedback">
  <h2 class="is-hidden">Feedbacks our visitors</h2>

  <div class="swiper feedback-slider">
    <div class="swiper-wrapper"></div>

    <div class="slider-navigation-wrapper">
      <button
        type="button"
        class="swiper-button-prev feedback-prev-btn"
        aria-label="Попередній відгук"
      >
        <svg class="svg-debil" width="15" heigth="15">
          <use href="../img/sprite.svg#icon-left"></use>
        </svg>
      </button>

      <div class="swiper-pagination feedback-pagination"></div>

      <button
        type="button"
        class="swiper-button-next feedback-next-btn"
        aria-label="Наступний відгук"
      ></button>
    </div>
  </div>

  <button type="button" class="feedback-submit-btn">Leave feedback</button>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/raty-js@3.1.0/lib/jquery.raty.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/raty-js@3.1.0/lib/jquery.raty.js"></script>
  <script type="module" src="./js/feedback.js"></script>
</section>
