<link rel="stylesheet" href="../css/feedback.css" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<section class="feedback-section" id="feedback">
  <h2 class="is-hidden">Feedbacks our visitors</h2>

  <div class="swiper feedback-slider">
    <div class="swiper-wrapper"></div>

    <div class="slider-navigation-wrapper">
      <button
        type="button"
        class="swiper-button-prev feedback-prev-btn"
        aria-label="Попередній відгук"
      ></button>

      <div class="swiper-pagination feedback-pagination"></div>

      <button
        type="button"
        class="swiper-button-next feedback-next-btn"
        aria-label="Наступний відгук"
      ></button>
    </div>
  </div>

  <button type="button" class="feedback-submit-btn">Leave feedback</button>
  <script type="module" src="../js/feedback.js"></script>
  <!-- <script type="module" src="../js/feedbackwindow.js"></script> -->
</section>
