<container>
  <div class="footer-content">
    <img
      class="footer-content-logo"
      src="../img/sprite.svg"
      alt="Artists"
      width="106px"
      height="30px"
    />

    <ul class="footer-content-menu-links">
      <li class="footer-content-item">Artists</li>
      <li class="footer-content-item">About us</li>
      <li class="footer-content-item">Reviews</li>
    </ul>
  </div>
  <div class="footer-end">
    <ul class="footer-end-social-links">
      <li class="footer-end-social-item">
        <img
          class="footer-content-logo"
          src="../img/sprite.svg"
          alt="Instagram"
          width="40px"
          height="40px"
        />
      </li>
      <li class="footer-end-social-item">
        <img
          class="footer-content-logo"
          src="../img/sprite.svg"
          alt="Facebook"
          width="40px"
          height="40px"
        />
      </li>
      <li class="footer-end-social-item">
        <img
          class="footer-content-logo"
          src="../img/sprite.svg"
          alt="Youtube"
          width="40px"
          height="40px"
        />
      </li>
      <p class="footer-end-text">© 2025 ArtistsHub. All rights reserved.</p>
    </ul>
  </div>
</container>
