<footer>
  <section class="container footer">
    <div class="footer-content">
      <a class="footer-content-logo" href="../index.html">
        <svg width="106" height="30">
          <use href="./img/sprite.svg#icon-logotext"></use>
        </svg>
      </a>
      <ul class="footer-content-menu-links">
        <li>
          <a class="footer-content-item" href="#artists">Artists</a>
        </li>
        <li>
          <a class="footer-content-item" href="#about">About us</a>
        </li>
        <li>
          <a class="footer-content-item" href="#feedback">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-end">
      <ul class="footer-end-social-links">
        <li>
          <a
            class="footer-end-social-item"
            href="https://www.instagram.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="footer-social-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-Instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-end-social-item"
            href="https://www.facebook.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="footer-social-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-Vector"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="footer-end-social-item"
            href="https://www.youtube.com/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <svg class="footer-social-icon" width="40" height="40">
              <use href="./img/sprite.svg#icon-YouTube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="footer-end-text">© 2025 ArtistsHub. All rights reserved.</p>
    </div>
  </section>
</footer>
