<section class="hero-section container">
  <div class="hero-content">
    <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>

    <p class="hero-text">
      Dive into a world of music discoveries with ArtistsHub – your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>

    <a class="hero-link" href="#artists">
      Explore Artists
      <svg class="hero-icon" height="20" width="15">
        <use href="./img/sprite.svg#icon-hero"></use>
      </svg>
    </a>
  </div>

  <div class="hero-images">
    <div class="hero-images-row">
      <div class="col-left" id="colLeft"></div>
      <div class="col-right" id="colRight"></div>
    </div>
  </div>

  <script type="module" src="./js/hero.js"></script>
</section>
