<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">Discover Your Next Favorite Artist</br> Today</h1>
    <p class="hero-text">
      Dive into a world of music discoveries with ArtistsHub – your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>
    <a class="hero-link" href=""
      >Explore Artists
      <svg class="hero-icon" height="20" width="15">
        <use href="../img/sprite.svg#icon-hero"></use>
      </svg>
    </a>
  </div>
</section>
