.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
}

.container-about-inf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 280px;
}
.about-picture {
  width: 288px;
  height: 169px;
}
.svg-icon-about {
  width: 64px;
  height: 64px;
}

.about-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
}

.read-more-about {
  margin-top: 10px;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 24px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background-color: var(--color-affair);
  border: none;
  color: white;
}
.read-more-about:hover {
  opacity: 0.6;
  transition: 250ms ease-in-out;
}

.read-more-modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}

.read-more-modal.active {
  display: flex;
}

.modal-content {
  background-color: black;
  padding: 40px 20px 20px 20px;
  border-radius: 6px;
  max-width: 600px;
  width: calc(100% - 40px);
  position: relative;
  border: 1px solid white;
}

.close-button-about {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.close-button-about svg {
  width: 24px;
  height: 24px;
}

/* ===== MEDIA QUERIES ===== */
@media (min-width: 768px) {
  .about-container {
    gap: 24px;
  }
  .container-about-inf {
    max-width: 704px;
  }
  .about-picture {
    width: 704px;
    height: 413px;
  }
  .about-text {
    font-size: 20px;
  }
  .svg-icon-about {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1440px) {
  .about-container {
    flex-direction: row;
    padding: 112px 64px;
    gap: 32px;
  }
  .about-picture {
    width: 1600px;
    height: 640px;
  }
  .container-about-inf {
    gap: 24px;
    max-width: 1312px;
  }
  .about-title {
    font-size: 60px;
  }
}
