body {
  background-color: black;
  color: white;
  padding: 112px 64px;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.section-subtitle {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  max-width: 500px;
}

.artists-load-more-btn {
  display: block;
  margin: 64px auto 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 170px;
  height: 47px;

  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-affair);
  color: white;
}

.artists-loader {
  display: block;
  width: 150px;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.artists-loader.is-hidden {
  display: none;
} 

.artist-short-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    line-height: 1.4;
    max-height: calc(1.4em * 2);
}



@media only screen and (min-width: 320px) {
    .artist-section {
        padding: 64px 16px;
    }

    .section-subtitle {
        font-size: 41px;
    }

    .img-card {
        border-radius: 16px;
        width: 288px;
        height: 177px;
        margin-bottom: 24px;
    }

    .genre-tag {
        border: 1px solid var(--opacity-white-20);
        border-radius: 6px;
        padding: 4px 10px;
        width: 103px;
        height: 32px;

        font-family: var(--font-family);
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    .artist-name {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        letter-spacing: -0.01em;
        color: var(--color-scheme-1-text);
        margin-top: 16px;
    }

    .artist-short-info {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-scheme-1-text);
        margin-bottom: 24px;
    }

    .learn-more-btn {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-white);
        background-color: transparent;
        margin-bottom: 64px;
        border-color: transparent;
    }

    .artists-load-more-btn {
        padding: 10px 24px;
        width: 288px;
        height: 47px;

        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .scroll-btm-icon {
        color: var(--color-white);
    }
}

@media only screen and (min-width: 768px) {
    .artist-section {
        padding: 64px 32px;
    }

    .section-subtitle {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 38px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: var(--color-scheme-1-text);
    }

    .img-card {
        border-radius: 16px;
        width: 704px;
        height: 432px;
    }

    .learn-more-btn {
        margin-bottom: 32px;
    }

    .artists-load-more-btn {
        border-radius: 12px;
        padding: 10px 24px;
        width: 340px;
        height: 47px;

        box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
        background: var(--color-affair);
    }

}

@media only screen and (min-width: 1440px) {
    .artist-section {
        padding: 112px 64px;
    }

    .section-subtitle {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 57px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: var(--color-scheme-1-text);
    }

    .artists-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0;
        margin: 0;
    }

    .artist-card {
        width: calc((100% - 24px) / 2);
        flex-grow: 0;
        flex-shrink: 0;
        height: auto;
    }

    .img-card {
        border-radius: 16px;
        width: 640px;
        height: 393px;
    }

    .artists-load-more-btn {
        border-radius: 12px;
        padding: 10px 24px;
        width: 170px;
        height: 47px;
    }
}
