
body {
  background-color: black;
  color: white;
  padding: 112px 64px;
}

.section-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-scheme-1-text);
  margin-bottom: 16px;
}

.section-subtitle {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 57px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
  max-width: 500px;
}

.artists-load-more-btn {
  display: block;
  margin: 64px auto 0 auto;
  border-radius: 12px;
  padding: 10px 24px;
  width: 170px;
  height: 47px;

  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-affair);
  color: white;
}

.artists-loader {
  display: block;
  width: 150px;
  margin: 20px auto;
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.artists-loader.is-hidden {
  display: none;
} 
