/* !CONTAINERS */
.container-modal {
  position: relative;
  max-width: 272px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container-modal {
    max-width: 654px;
  }
}

@media screen and (min-width: 1440px) {
  .container-modal {
    max-width: 1184px;
  }
}

/* !BACKGROUND FOR MODAL */
.background-modal {
  position: fixed;
  inset: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 16px;
  opacity: 0;
  pointer-events: none;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .background-modal {
    padding: 64px 33px;
  }
}

@media screen and (min-width: 1440px) {
  .background-modal {
    padding: 64px;
  }
}

.background-modal.is-active {
  opacity: 1;
  pointer-events: auto;
}

/* !MODAL AND SCROLLBAR */
/* .modal {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.modal::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.modal::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.modal::-webkit-scrollbar-track {
  background: transparent;
} */

/* !MODAL */
.modal {
  padding: 16px 8px 52px;
  border-radius: 16px;
  min-width: 288px;
  background: var(--color-scheme-1-background);
  margin: auto;
  position: relative;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 702px;
    padding: 16px 24px 64px;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    min-width: 1312px;
    padding: 16px 64px 64px;
  }
}

/* !MODAL ARTIST FULL INFO, JUST TEXT, EXCEPT NAME AND IMG */
.modal-artist-full-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-artist-full-info {
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-artist-full-info {
    flex-direction: column;
    gap: 24px;
  }
}

/* !IMG AND BUTTON IN MODAL */
.modal-artist-info-img {
  width: 100%;
  height: auto;
  width: 272px;
  height: 167px;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .modal-artist-info-img {
    width: 654px;
    height: 402px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-artist-info-img {
    width: 576px;
    height: 354px;
    margin-bottom: 48px;
    margin-right: 24px;
    flex-shrink: 0;
  }

  /* !FOR IMG AND TEXT IN PC */
  .modal-artist-wrapper {
    display: flex;
    flex-direction: row;
  }
}

.modal-close-btn {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 8px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .modal-close-btn {
    margin-right: 23px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-close-btn {
    margin-right: -48px;
  }
}

.modal-checkbox-icon {
  width: 100%;
  height: 100%;
}

.modal-close-icon {
  fill: var(--color-scheme-1-text);
}

.modal-close-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

/* !TEXT IN MODAL */
.modal-artist-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .modal-artist-name {
    font-size: 32px;
    margin-bottom: 48px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-artist-name {
    margin-top: 16px;
  }
}

.modal-info-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.modal-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.modal-info-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-info-list {
    grid-template-columns: repeat(2, minmax(146px, auto));
    gap: 24px;
    justify-content: start;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-info-list {
    margin-bottom: 0;
  }
}

.modal-biography {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal-biography {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .modal-biography {
    margin-bottom: 0;
  }
}

.modal-tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.modal-tag-item {
  border: 1px solid var(--opacity-white-20);
  border-radius: 6px;
  padding: 4px 10px;
  max-height: fit-content;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

/* !GALLERY */
.previous-content {
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

/* !ALBUM */

.albums {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.albums h2 {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--color-scheme-1-text);
}

.albums-cards {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.albums-thumb {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.album-card {
  border-radius: 16px;
  padding: 14px 11px;
  min-width: 250px;
  background: var(--color-scheme-2-foreground);
}

.album-card h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 12px;
}

.table-header {
  border-radius: 8px;
  padding: 4px 0px 4px 12px;
  background: var(--opacity-white-5);
  display: grid;
  grid-template-columns: 1fr 50px 40px;

  font-weight: 600;
  font-size: 8px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.track-list {
  display: flex;
  flex-direction: column;
}

.track {
  border-radius: 8px;
  padding: 8px 0px 8px 12px;
  display: grid;
  grid-template-columns: 1fr 50px 40px;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
}

.track-list li:nth-child(2n) {
  background: var(--opacity-white-10);
}

@media only screen and (min-width: 768px) {
  /* .modal {
    padding: 64px 24px;
  } */

  .actor-info {
    flex-direction: wrap;
  }

  .actor-name {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
  }

  .actor-info-container {
    display: grid;
    grid-template-columns: 146px 1fr;
    column-gap: 32px;
    row-gap: 16px;
  }

  .albums h2 {
    text-align: start;
  }

  .albums-thumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .album-card {
    min-width: 272px;
  }
}

@media only screen and (min-width: 1440px) {
  /* .modal {
    padding: 64px;
  } */
  .actor {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .albums-thumb {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .albums-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .album-card {
    min-width: 272px;
  }
}

/* !LOADER */
.loader {
  color: var(--color-scheme-1-text);
  font-size: 10px;
  border-color: transparent;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  z-index: 999;
  /* transform: translateZ(0); */
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/* !SVG FOR TEXT */
#modal-biography-button {
  background: transparent;
  border: 1px solid var(--opacity-white-20);
  border-radius: 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transform: translate(5%, 30%);
}

.modal-icon-more-text,
.modal-icon-less-text {
  fill: var(--color-scheme-1-text);
}

.modal-icon-more-text:hover,
.modal-icon-less-text:hover {
  fill: rgba(255, 255, 255, 0.6);
}
