@media only screen and (min-width: 320px) {
  section {
    color: #fff;
  }

  .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .feedback-section {
    padding: 60px 0;
  }
  .feedback-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    color: #fff;

    border-radius: 8px;
  }
  .swiper-wrapper {
    color: #fff;
  }

  .feedback-text {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 140%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 32px;
  }

  .feedback-author {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
  }

  .feedback-submit-btn {
    padding: 12px 30px;
    background-color: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: auto;
    margin-left: auto;
  }

  .feedback-submit-btn:hover {
    background-color: #6a0dad;
  }
  .feedback-slider {
    color: #fff;
  }
  /* Обгортка для кнопок та пагінації */
  .slider-navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    color: white;
  }

  .feedback-prev-btn:hover,
  .feedback-next-btn:hover {
    background-color: #1a1a1a;
  }

  /* --- Пагінація (3 точки) --- */

  .feedback-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 10px 0;
    position: relative;
    z-index: 10;
  }

  .feedback-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #555555;
    opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .feedback-pagination .swiper-pagination-bullet-active {
    background: #fff !important;
    opacity: 1 !important;
  }
  /* Стилізація ЗІРОЧОК  */
  .star-rating-container {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .star-on-png {
    color: #8a2be2;
  }
  .feedback-text {
    max-width: 284px;
  }
}

@media only screen and (max-width: 767px) {
  .feedback-prev-btn,
  .feedback-next-btn {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  .feedback-prev-btn,
  .feedback-next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--opacity-white-100);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: transparent;
    -webkit-text-fill-color: aliceblue;
  }
  /* .swiper-button-prev:after {
    display: none;
  }
  .swiper-button-next:after {
    display: none;
  } */

  .feedback-text {
    max-width: 516px;
  }
}

@media only screen and (min-width: 768px) {
  .feedback-text {
    max-width: 868px;
    margin-right: auto;
    margin-left: auto;
  }
}
