.submit-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 864px;
  border-radius: 16px;
  padding: 64px;
  max-height: 688px;
  background: var(--color-scheme-1-background);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.submit-modal.is-open {
  display: block;
}

.submit-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-scheme-1-text);
  margin-bottom: 48px;
}
.submit-button_modal {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
}

.button-close_icon {
  fill: #fff;
}

.submit_form-label {
  font-family: var(--font-family);
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-scheme-1-text);
  margin-bottom: 8px;
}
#username {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 8px 12px;
  width: 736px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--opacity-white-60);
  background: var(--opacity-transparent);
}

#message {
  border: 1px solid var(--opacity-white-20);
  border-radius: 12px;
  padding: 12px;
  width: 736px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--opacity-white-60);
  background: var(--opacity-transparent);
  padding-bottom: 141px;
}

.form-group {
  margin-bottom: 24px;
}

.rating-group {
  margin-bottom: 24px;
}

.submit-feedback_button {
  border-radius: 12px;
  padding: 10px 24px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-affair);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-white);
  margin: 0 auto;
  border: none;
}
