@media only screen and (min-width: 320px) {
  .footer {
    height: auto;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .footer-content {
    max-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  .footer-content-logo {
    fill: #764191;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 32px;
  }
  .footer-content-menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
  }
  .footer-content-item {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }
  .footer-end {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 288px;
    height: auto;
  }

  .footer-end-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
    margin-top: 24px;
    margin-bottom: 32px;
  }

  .footer-end-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer-content {
    max-width: 493px;
    padding-bottom: 80px;
  }

  .footer-content-menu-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 32px;
  }

  .footer-end {
    max-width: 704px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  .footer-end-social-links {
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 0;
  }

  .footer-end-text {
    margin-bottom: 8px;
  }
  .footer-social-icon {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer-content {
    max-width: 493px;
  }
  .footer-end {
    max-width: 1312px;
  }

  .footer-end-text {
    margin-bottom: 0;
  }
  .footer-social-icon {
    width: 24px;
    height: 24px;
  }
}
