*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #060307;
}

.header-container {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
  padding-left: 26px;
}

.headder-page-nav {
}

.header-link-logo {
  display: inline-block;
}

.header-nav-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  display: inline-block;
}

.header-list {
  display: none;
}

.header-button-menu {
  border: none;
  background: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-button-menu {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
