*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #060307;
}

.link-icon {
  fill: none;
}

.header-nav-link .link-icon {
  display: none;
}

.header-nav-link:focus .link-text {
  display: none;
}

.header-nav-link:focus .link-icon {
  display: block;
  fill: #764191;
  transition: opacity 250ms ease-in-out,
    visibility cubic-bezier(0.55, 0.055, 0.675, 0.19) ease-in-out;
}

.header-container {
  /* height: 64px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 28px;
  padding-left: 26px;
}

.header-page-nav {
  padding-top: 7px;
  padding-bottom: 6px;
}

.header-logo-svg {
  fill: #fff;
  display: block;
}

.header-list {
  display: none;
}

.header-link-logo {
  display: block;
}

.header-nav-link {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  display: block;
  /* padding: 20px 0; */
}

.header-button-menu {
  border: none;
  background: none;
}

/* ********** MOBILE MENU ************ */

.menu-drive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
  overflow-y: auto;
}

.menu-drive.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-drive-mobile {
  padding-right: 28px;
  padding-left: 26px;
  height: 100%;
}

.menu-drive-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header-mobile-menu-list {
  padding-top: 39px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header-mobile-menu-list-item {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
}

.button-close {
  border: none;
  background: none;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header-button-menu {
    display: none;
  }

  .header-container {
    /* height: 72px; */
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 11px;
    padding-bottom: 10px;
  }

  .header-page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 64px;
  }

  .header-list {
    display: flex;
    gap: 32px;
  }

  .header-nav-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 64px;
    padding-right: 64px;
  }

  .header-page-nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}
