.hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: var(--color-scheme-1-text);
}

.hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-scheme-1-text);
}

.hero-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-white);
}