@import url('./base.css');
@import url('./reset.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./artist.css');
@import url('./artistwindow.css');
@import url('./artistFilters.css');
@import url('./about.css');
@import url('./bodwindow.css');
@import url('./lizwindow.css');
@import url('./feedback.css');
@import url('./feedbackwindow.css');
@import url('./footer.css');
